<div class="ui basic segment">

  <img class="ui medium rounded centered image" src="/images/fix inc_main.svg">

  <form action="/login" method="POST" class="ui large form">
    <div class="ui stacked segment">

      <div class="field">
        <div class="ui left icon input">
          <i class="envelope icon"></i>
          <input type="email" name="email" placeholder="Email">
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <button type="submit" class="ui fluid large teal submit button">Ingresar</button>
    </div>

  </form>
</div>