<div class="ui fixed borderless large menu nav-grey">
  <a href="/" class="header item">
    <img class="ui tiny image" src="/images/fix inc_min.svg">
  </a>
  {{#if user}}
  <a class="item" href="/{{#if client}}client/search{{else}}member/search{{/if}}">Inicio</a>
  <a class="item" href="/{{#if client}}client{{else}}member{{/if}}">Perfil</a>
  {{#if client}}<a class="item" href="/client/problem">Tengo un Problema</a>{{/if}}
  {{/if}}
  <!--<a class="item" href="/member/login">Miembros</a>
  <a class="item" href="/client/login">Clientes</a>-->
  <div class="right menu">
    <div class="item">
      {{#if user}}
      <form action="/logout" method="POST">
        <button type="submit" class="ui red button">Salir</button>
      </form>
      {{else}}
      <!--<div class="ui primary button" id="login">Ingresar</div>-->
      <div class="ui buttons">
        <button class="ui green button" id="login">Ingresar</button>
        <div class="or" data-text="O"></div>
        <button class="ui blue button" id="register">Registrarse</button>
      </div>
      {{/if}}
    </div>
  </div>
</div>