<form action="/{{#if member}}member{{else}}client{{/if}}/register" method="POST">
  <div>
    <label for="">
      Name:
      <input type="text" name="name">
    </label>
  </div>

  <div>
    <label for="">
      Last Name:
      <input type="text" name="last_name">
    </label>
  </div>

  <div>
    <label for="">
      Email:
      <input type="email" name="email">
    </label>
  </div>

  <div>
    <label for="">
      Password:
      <input type="password" name="password">
    </label>
  </div>

  <div>
    <label for="">
      Confirm Password:
      <input type="password" name="password-confirm">
    </label>
  </div>

  {{#if member}}
  <div>
    <label for="">
      Tipo de servicios:
      <select name="services" multiple>
        <option value="electricista">Electricista</option>
        <option value="carpintero">Carpintero</option>
        <option value="plomero">Plomero</option>
        <option value="albañil">Albañil</option>
        <option value="mecanico">Mecanico</option>
        <option value="cerrajero">Cerrajero</option>
        <option value="chofer">Chofer</option>
      </select>
    </label>
  </div>
  {{/if}}

  <button type="submit">Registro</button>
</form>