<form action="/register" method="POST" class="ui large form">
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="name" placeholder="Nombre">
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="last_name" placeholder="Apellido">
      </div>
    </div>

    <div class="field">
      <div class="ui selection dropdown">
        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">Genero</div>
        <div class="menu">
          <div class="item" data-value="MALE">Masculino</div>
          <div class="item" data-value="FEMALE">Femenino</div>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="email" name="email" placeholder="Email">
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="password" name="password-confirm" placeholder="Confirmar password">
      </div>
    </div>

    <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" tabindex="0" class="hidden" name="member">
        <label>Miembro</label>
      </div>
    </div>

    <button type="submit" class="ui fluid large teal submit button">Registro</button>
  </div>
</form>