<h1>Bienvenido {{user.name}} {{user.last_name}}</h1>

<div class="ui centered card">
  <div class="image">
    <img src="/images/male.png">
  </div>
</div>

<div class="ui three item menu">
  <a class="item">Perfil</a>
  <a class="item">Reseñas</a>
  <a class="item">Mensajes</a>
</div>