<h1>{{user.name}} {{user.last_name}}</h1>


<img class="ui centered small circular image" src="{{user.profile_pic}}">

<div class="ui pointing secondary menu">
  <a class="item active" data-tab="perfil">Perfil</a>
  <a class="item" data-tab="rese単as">Rese単as</a>
  <a class="item" data-tab="mensajes">Mensajes</a>
</div>

<div class="ui bottom attached tab active" data-tab="perfil">
  {{> profile}}
</div>

<div class="ui bottom attached tab" data-tab="rese単as">
  rese単as
</div>

<div class="ui bottom attached tab" data-tab="mensajes">
  mensajes
</div>