<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fix Inc</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/default.css" />
  <link rel="stylesheet" href="/stylesheets/pandoc-code-highlight.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{> navbar}}


  {{{body}}}

  <div class="ui mini modal login">
    <i class="close icon"></i>
    {{> login}}
  </div>

  <div class="ui mini modal register">
    <i class="close icon"></i>
    {{> register}}
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR166UPVG8dk4kQRn7dI9revtfAz8RqhM&libraries=places"
    async defer></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>